<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full Stack Developer Test</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This dataset provides information on mobile phone masts located on Leeds City
     Council property, respective lease information and annual rent charges concerning them!">
    <meta name="author" content="Chris Toal">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Mobile Phone Masts - Leeds</h1>
                <a class="btn btn-primary" href="{% url 'list' %}">List by Lease Amount</a>
                <a class="btn btn-primary" href="{% url 'total' %}">Lease Total</a>
                <a class="btn btn-primary" href="{% url 'ascending' %}">Top 5</a>
                <a class="btn btn-primary" href="{% url 'new_entry' %}">Add a New Entry</a>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>