{% extends 'base.html' %}
{% block content %}

    <h2>Data List in Ascending Order</h2>

    {% for item in leaselist %}
        <div>
            <ul>
                <li><strong>Property Name:</strong> {{ item.property_name }}</li>
                <li><strong>Property Address:</strong> {{ item.property_address_1 }}, {{ item.property_address_2 }}
                    {{ item.property_address_3 }} {{ item.property_address_4 }} </li>
                <li><strong>Unit Name:</strong> {{ item.unit_name }}</li>
                <li><strong>Tenant Name:</strong> {{ item.tenant_name }}</li>
                <li><strong>Lease Start Date:</strong> {{ item.lease_start_date }}</li>
                <li><strong>Lease End Date:</strong> {{ item.lease_end_date }}</li>
                <li><strong>Lease Years:</strong> {{ item.lease_years }}</li>
                <li><strong>Current rent:</strong> {{ item.current_rent }}</li>
            </ul>
        </div>
    {% endfor %}


{% endblock %}