{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Table of 5 results</h2>
            <a class="btn btn-primary" href="{% url 'ascending' %}">Ascending</a>
            <a class="btn btn-primary" href="{% url 'descending' %}">Descending</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Property Address</th>
                    <th>Unit Name</th>
                    <th>Tenant Name</th>
                    <th>Lease Start Date</th>
                    <th>Lease End Date</th>
                    <th>Lease Years</th>
                    <th>Current Rent</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in table %}
                        <tr>
                            <td>{{ item.property_name }}</td>
                            <td>{{ item.property_address_1 }}, {{ item.property_address_2 }}
                            {{ item.property_address_3 }} {{ item.property_address_4 }}</td>
                            <td>{{ item.unit_name }}</td>
                            <td>{{ item.tenant_name }}</td>
                            <td>{{ item.lease_start_date }}</td>
                            <td>{{ item.lease_end_date }}</td>
                            <td>{{ item.lease_years }}</td>
                            <td>{{ item.current_rent }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

             <div>
                 <h3>Tenant and Number of Masts</h3>
                {% for item in table %}
                    <ul>
                        <li>{% for key,value in naf_dict.items %}
                            {% if key in item.tenant_name %}
                            <strong>Tenant Name:</strong> {{ key }} -- <strong>Number of Masts</strong> {{ value }}<br></li>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
